#container{
}
#div1, #div2{
    background-color: bisque;
    min-width: 300px;
    display: inline-block;
}

input{
    display: block;
}
.table_buttons{
    height: 26px;
    display: inline-block;
}